
# [ Aliases ]

# general
alias ll="ls -lA"
alias ..="cd .."
alias ...="cd ../.."
alias so="source ~/.bash_profile"

# git
alias gs="git status"
alias ga="git add"
alias gaa="git add ."
alias gl="git log --oneline"
alias gc="git commit -m"
alias gd="git diff"

# laravel
alias art="php artisan"

alias mmig="php artisan make:migration"
alias mmod="php artisan make:model"
alias mcon="php artisan make:controller"
alias mreq="php artisan make:request"

# vagrant
alias vgs="vagrant global-status"
alias vm="ssh vagrant@127.0.0.1 -p 2222"
alias vssh="vagrant ssh"

alias hosts='sudo vim /etc/hosts'

alias pkey="pbcopy < ~/.ssh/id_rsa.pub | echo '=> Public key copied to pasteboard.'"

